*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-family: Arial, sans-serif;
    background-image: url('../images/bg.jpg');
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin: 0;
}
.container{
    background-color: rgba(255, 230, 130, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(230, 77, 17, 0.6);
    padding: 20px;
    width: 400px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Edu AU VIC WA NT Guides", cursive;
}
.welcome{
    color: rgb(255, 123, 0);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.input{
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    background-color: antiquewhite;
    padding-left: 4px;
    opacity: 0.9;
}
button{
    background-color: #ffd700;
    color: #000;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 rgba(0,0,0,0.1);
    transition: 400ms;
}
button:hover{
    color: white;
    background-color: darkcyan;
    scale: 1.1;
}