* {
    margin: 0%;
    text-decoration: none;
}
html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 150px;
    padding: 10px;
    justify-self: start;
    align-self: start;
}

.transparentImg{
    width: 94%;
    height: 90%;
    background-image:url('../images/bg2.jpg');
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow-y: auto;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.menu, .cart {
    background-color: #ff9999;
    border-radius: 15px;
    padding: 20px;
    width: 45%;
    margin: 20px;
}
.menu-items, .cart-items {
    background-color: #ffcc66;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}
.cart-items {
    background-color: #ffcc66;
}
.item {
    background-color: #ff6666;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item button {
    background-color: #66cc66;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.quantity {
    display: flex;
    align-items: center;
}
.quantity span {
    margin: 0 10px;
    background-color: #3366cc;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 0;
}
.total {
    text-align: center;
    margin-top: 20px;
}
.total button {
    background-color: #3366cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* Customizing scrollbar */
.menu-items::-webkit-scrollbar, .cart-items::-webkit-scrollbar {
    width: 10px;
}
.menu-items::-webkit-scrollbar-track, .cart-items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.menu-items::-webkit-scrollbar-thumb, .cart-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.menu-items::-webkit-scrollbar-thumb:hover, .cart-items::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media(max-width:1300px) {
    .cart, .menu {
        width: 500px;
        margin-left: 5px;
        margin-right: 5px;

    }
}

@media(max-width:1000px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 65%;
        height: 300px;
    }

    .cart {
        width: 65%;
        height: 350px;
    }

    .cart-items, .menu-items {
        height: 230px;
    }
}

@media(max-width:930px) {
    .cart, .menu {
        width: 80%;
    }
}

@media(max-width:800px) {
    .cart, .menu {
        width: 90%;
    }
}

@media(max-width:600px) {
    .cart, .menu {
        width: 100%;
    }
}

@media(max-width:450px) {
    .cart, .menu {
        width: 100%;
        margin: 10px;
    }

    .item, .item div .span {
        font-size: 0.9rem;
    }

    .item button {
        font-size: 0.7rem;
    }
}

@media(max-width:385px) {
    .container {
        width: 250px;
    }
}

@media(max-height:850px) {
    .container {
        padding-top: 50px;
    }
}

@media(max-height:780px) {
    .container {
        padding-top: 80px;
    }
}

@media(max-height:750px) {
    .container {
        padding-top: 100px;
    }
}

@media(max-height:720px) {
    .container {
        padding-top: 130px;
    }
}

@media(max-height:690px) {
    .container {
        padding-top: 170px;
    }
}

@media(max-height:640px) {
    .container {
        padding-top: 200px;
    }
}

@media(max-height:610px) {
    .container {
        padding-top: 250px;
    }
}

@media(max-height:550px) {
    .container {
        padding-top: 300px;
    }
}

@media(max-height:500px) {
    .container {
        padding-top: 350px;
    }
}

@media(max-height:450px) {
    .container {
        padding-top: 400px;
    }
}

@media(max-height:400px) {
    .container {
        padding-top: 450px;
    }
}

@media(max-height:350px) {
    .container {
        padding-top: 500px;
    }
}

@media(max-height:300px) {
    .container {
        padding-top: 550px;
    }
}