* {
    margin: 0%;
    text-decoration: none;
}

html{
    font-family: Arial, sans-serif;
    background-image: url('../images/bg.jpg');
}

.logo {
    width: 150px;
    padding: 10px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.outer-container {
    position: relative;
    width: 340px;
    height: 340px;
    padding: 10px;
    opacity: 1;
}


.login-container {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: rgba(255,247,214,0.6);
    padding: 20px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 0;
    transform: rotate(-4deg);

}

h1 {
    color: #000;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 900;
}

.tilted-box {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 1;
    left: 1rem;
    top: 1rem;
}

.tilted-box-2 {
    padding-top: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    transform: rotate(4deg);
    z-index: 2;
    left: 1rem;
    top: 1rem;
}

.login-form {
    background-color: #e8f4ff;
    padding: 20px;
    margin-left: 5px;
    margin-right: 8px;
    border-radius: 15px;
    opacity: 1;
}

.input-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.login-button, .sign-up-button {
    background-color: #ffd700;
    color: #000;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 0 rgba(0,0,0,0.1);
    transition: 400ms;
}
.login-button:hover, .sign-up-button:hover {
    color: white;
    background-color: darkcyan;
    scale: 1.1;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.additional-options {
    margin-top: 20px;
}

.additional-options a {
    color: #4a4a4a;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
}

.additional-options a:hover {
    color:coral;
}


